<div class="stocks">
  <div class="title">Stocks</div>
  <div class="container">
    <% @stocks.each do |stock| %>
      <%= link_to stock, class: "box" do %>
        <img src="<%= stock.logo_url %>">
        <div class="info">
          <div class="symbol">
            <%= stock.symbol %>
          </div>
          <div class="name">
            <%= stock.company_name %>
          </div>
          <div class="price">$329.13</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
