<%= form_with(model: user) do |form| %>

  <div class="field">
    <%= form.hidden_field :status, value: 'approved' %>
  </div>

  <div class="actions">
    <%= button_tag :submit, class: "approve-icon" do %>
    <i class="fa-solid fa-circle-check"></i>
    <% end %>
  </div>
<% end %>