<%= form_with(model: user) do |form| %>
  <div class="field">
    <%= form.hidden_field :status, value: 'declined' %>
  </div>
  <div class="actions">
    <%= button_tag :submit, class: "decline-icon" do %>
      <i class="fa-solid fa-circle-xmark"></i>
    <% end %>
  </div>
<% end %>
