<%= turbo_frame_tag "modal" do %>
<div data-controller="modal" data-action="turbo:submit-end->modal#submitEnd">
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>
<% end %>