.transactions-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 40px;

  .left {
    padding-right: 20px;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      font-size: 30px;
      font-weight: 700;

      input {
        height: 40px;
        width: 300px;
        border: none;
        border-radius: 20px;
        padding-left: 20px;
      }
    }
    .no-transactions {
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
        height: 820px;
        margin-top: 20px;
    }
    .container {
      margin-top: 20px;
      background-color: white;
      border-radius: 20px;
      padding: 40px;
      height: 820px;

      .header {
        background-color: #eff8fd;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;

        .label {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .table {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        font-size: 14px;
        height: 690px;
        overflow: scroll;

        .list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          border-bottom: 1px solid rgb(235, 235, 235);
        }

        .date-time {
          flex-direction: column;
          color: grey;
          font-size: 12px;

          .time {
            font-size: 10px;
          }
        }

        .green {
            color: rgb(0, 143, 0);
        }

        .red {
            color: rgb(217, 0, 0);
        }

        .company {
          justify-content: flex-start;
          padding-left: 20px;

          img {
            width: 30px;
            border-radius: 10px;
            margin-right: 10px;
          }

          .symbol {
            font-weight: 500;
          }

          .company-name {
            font-size: 12px;
            color: grey;
          }
        }

        img {
          width: 25px;
        }
      }
    }
  }

  .right {
    padding-left: 20px;

    .activity {
      height: 450px;
      display: flex;
      flex-direction: column;
      padding: 40px;
      border-radius: 20px;
      background-color: white;
      .title {
        font-size: 20px;
        font-weight: 700;
        border-bottom: 2px solid rgb(226, 226, 226);
        padding: 10px 0;
        margin-bottom: 20px;
      }
    }

    .container {
        background-color: white;
        padding: 40px;
        border-radius: 20px;
        height: 400px;
        margin-top: 30px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #eff8fd;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            height: 80px;
            margin: 20px 0;
            padding: 0 20px;

            .number {
                font-size: 30px;
                font-weight: 600;
            }

            .text {
                color: grey;
                font-size: 14px;
            }

            
        }
    }
  }
}
